<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    {%for familiar in familiares%} 
    <div>
        <p>Nombre: {{familiar.nombre}}</p>
        <p>Descripción: {{familiar.biografia}}</p>
        <p>Convive: {{familiar.convive}}</p>
        <p>Edad: {{familiar.edad}}</p>
        <p>Cumpleaños: {{familiar.cumpleanios}}</p>
    <div>
    {% endfor %}
</body>
</html>